stages:
  - test
  - prepare
  - release

variables:
  COMPOSER_MEMORY_LIMIT: -1

cache:
  key:
    files: [ composer.lock ]
  paths:
    - vendor/

.test_template: &test_template
  image: composer:2
  before_script:
    - composer install --no-interaction --prefer-dist --no-progress
  script:
    - composer validate --strict

unit_tests:
  <<: *test_template
  stage: test
  artifacts:
    paths: [ vendor/ ]
    expire_in: 1h

define-version-app:
  stage: prepare
  script:
    - chmod +x script/calculate_tag.sh
    - export APP_VERSION="$(./script/calculate_tag.sh | tr -d '\n')"
    - echo "APP_VERSION=$APP_VERSION" > version.env
  artifacts:
    reports:
      dotenv: version.env

release-production:
  stage: release
  image: alpine:3.20
  needs:
    - job: define-version-app
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: on_success
    - when: never
  before_script:
    - apk add --no-cache curl
    - curl -sSL -o /usr/local/bin/release-cli "https://gitlab.com/api/v4/projects/gitlab-org%2Frelease-cli/packages/generic/release-cli/latest/release-cli-linux-amd64"
    - chmod +x /usr/local/bin/release-cli
  script:
    - release-cli create --name "Release ${APP_VERSION}" --tag-name "${APP_VERSION}" --ref "$CI_COMMIT_SHA"
  environment:
    name: production
