stages:
  - test
  - prepare
  - release

variables:
  COMPOSER_MEMORY_LIMIT: -1

cache:
  key: notifuse-bundle-vendor
  paths:
    - vendor/

.test_template: &test_template
  image: composer:2
  before_script:
    - composer install --no-interaction --prefer-dist --no-progress
  script:
    - composer validate --strict

unit_tests:
  <<: *test_template
  stage: test
  rules:
    - when: on_success
      exists:
        - composer.json
  artifacts:
    paths:
      - vendor/
    expire_in: 1h

define-version-app:
  stage: prepare
  script:
    - chmod +x /script/calculate_tag.sh
    - export APP_VERSION="$(./script/calculate_tag.sh | tr -d '\n')"
    - echo "APP_VERSION=$APP_VERSION" > version.env
  artifacts:
    reports:
      dotenv: version.env

release-production:
  stage: release
  needs:
    - job: define-version-app
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: on_success
    - when: never
  script:
    - echo "=== Installation gitlab release  ==="
    - apk add --no-cache curl
    - |
      curl -L -o /usr/local/bin/release-cli \
        "https://gitlab.com/api/v4/projects/gitlab-org%2Frelease-cli/packages/generic/release-cli/latest/release-cli-linux-amd64"
    - chmod +x /usr/local/bin/release-cli
    - |
      ASSETS_JSON="{\"name\":\"$CI_REGISTRY_IMAGE:$APP_VERSION\",\"url\":\"https://$CI_REGISTRY_IMAGE:$APP_VERSION\",\"type\":\"image\"}"
      release-cli create \
        --name "Release $APP_VERSION" \
        --tag-name "$APP_VERSION" \
        --ref "$CI_COMMIT_SHA" \
        --assets-link "$ASSETS_JSON"
  environment:
    name: production


publish-bundle:
  stage: release
  image: composer:2
  needs:
    - job: release-production
      artifacts: false
    - job: define-version-app
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: on_success
    - when: never
  script:
    - mkdir -p build
    - composer archive --dir=build --filename="notifuse-symfony-bundle-${APP_VERSION}" --format=zip
    - |
      curl --request POST "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/composer" \
        --header "JOB-TOKEN: $CI_JOB_TOKEN" \
        --form "package[name]=notifuse/notifuse-symfony-bundle" \
        --form "package[version]=${APP_VERSION}" \
        --form "package[package_file]=@build/notifuse-symfony-bundle-${APP_VERSION}.zip"
